.title {
  color: red;
}

.subtitle {
  color: blue;
}

#contactUs {
  color: green;
}

h2:hover {
  color: aqua;
}

#services {
  color: yellow;
}

li:first-child {
  color: steelblue;
}
li:nth-child(2) {
  color: palevioletred;
}
li:last-child {
  color: gold;
}
td:only-child {
  color: palegreen;
}

/* #googleLink:link {
  color: blue;
}

#googleLink:visited {
  color: red;
} */

h2 + a {
  color: brown;
}

textarea ~ button {
  color: chartreuse;
}

ul li {
  color: darkorchid;
}
