body {
  font-family: Arial, Helvetica, sans-serif;
}

.boxWrapper {
  border: 10px solid black;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* flex-direction: column;
  flex-wrap: wrap-reverse;
  height: 400px; */

  /* justify-content: space-around; */

  /* height: 700px;
  align-items: flex-end; */
  /* 
  height: 400px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between; */

  /* flex-flow: column wrap; */

  /* height: 700px;
  align-items: center;
  justify-content: space-between; */

  width: 1200px;
}

.box {
  border: 1px solid gray;
  /* width: 100px; */
  /* flex-basis: 200px;
  flex-grow: 1; */
  flex-basis: 600px;
  flex-shrink: 1;
}

.box1 {
  background: red;
  /* order: 34; */
}
.box2 {
  background: blue;
  /* align-self: stretch; */
  /* order: 1; */
}

.box3 {
  background: purple;
  /* order: 14; */
}

.box4 {
  background: yellow;
  /* order: 6; */
}

.box5 {
  background: green;
  /* order: 0; */
}

/* flex container 
flex item */

/* so here if we mentioned display:flex then it will be container i.e. boxwrapper and box1,2,3,4,5 will be flex item  

if we give only display as flex them by default the main axis is from left to right
main axis left to right
cross axis top to bottom
main axis where its start it is called main start and amin axis where its end it is main end
same as for cross start and cross end

complete left to right flex conatiner is call main size 
complete top to bottom flex conatiner is call cross size

Flex Direction it is the properties of flex container
flex-direction: row is by default property
flex-direction: row-reverse; box5->box4->box3..... main axis is change from right to left
flex-direction: column;
flex-direction: column-reverse;

Flex wrap (Container)
by default nowrap


Justify Content it will aling flex item toward main axis
start,end ,center, space-between, space-around
it works around main axis

Align Items
by default it is stretch
flex-start,end ,center
it work around cross axis 

Align Content
when we have multiple rows
it works on cross axis

flex flow => direction + wrap


Align Self
flex Item ki properties

Order
by default order is 0

Flex-Basis initial length of main item towards main axis

flex grow available left space will we occupy between flex item

Flex Shrink

flex: flex-grow shrink basis




*/
