.box {
  width: 100px;
  height: 100px;
  background: red;
  animation-name: changeBgColor;
  animation-duration: 5s;
  animation-delay: 3s;
  /* animation-iteration-count: 3; */
  animation-fill-mode: forwards;
}

@keyframes changeBgColor {
  from {
    background: green;
  }
  to {
    background: blue;
  }
}

.box2 {
  margin-top: 2rem;
  width: 5px;
  height: 15px;
  background-color: orange;
  animation-name: grow;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-direction: reverse;
  animation-iteration-count: 3;
}

@keyframes grow {
  from {
    width: 0px;
  }
  to {
    width: 400px;
  }
}

.box3 {
  margin-top: 3rem;
  width: 100px;
  height: 100px;
  background: purple;
  border-radius: 50%;

  position: relative;
  /* 
  animation-name: moveAround;
  animation-duration: 10s;
   animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */
  animation: moveAround 5s forwards 2s infinite ease-in;
}

@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
    background: lightblue;
  }
  10% {
    background: red;
  }
  25% {
    top: 0;
    left: 300px;
    background: green;
  }
  50% {
    top: 300px;
    left: 300px;
    background: yellow;
  }
  75% {
    top: 300px;
    left: 0;
    background: goldenrod;
  }
  100% {
    top: 0;
    left: 0;
    background: navajowhite;
  }
}

.box4 {
  margin-top: 30rem;
  width: 100px;
  height: 100px;
  background: rgb(34, 184, 97);
  /* transition-property: background;
  transition-duration: 5s;
  transition-timing-function: ease-in; */
  transition: background 2s ease-in-out, width 2s ease-in-out, height 5s ease-in;
}

.box4:hover {
  background: rgb(25, 159, 236);
  width: 300px;
  height: 50px;
}
