.box {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background: rgb(10, 164, 216);
  margin: 100px auto;
  transform-origin: top left;
  transition: transform 1s ease-in;
}

.box:hover {
  transform: rotate(180deg);
  /* transform: scale(2, 5); */
  /* transform: translateX(-50px); */
  /* transform: skewY(20deg); */
}
