/* specificity
 inline style attribute > id selector > class selector > element selector 
  we can also use !impotant but not a good practice

if two classes are define the one which is written down/last it will be used

How to calculate specificity

inline style present? , id present , class present, element present


 */
body {
  font-family: "Poppins", sans-serif;
}
.main1 {
  background-color: darkgray;
}
.main2 {
  background-color: darkkhaki;
}
span {
  background-color: darkturquoise;
}
h1 {
  color: firebrick;
}
h3,
span {
  color: green;
  border: 5px solid red;
  border-radius: 10px;
}
